

.box{
 padding: 0;
}
.number{
    font-size: 2.5rem;
    color: #e43f5a;
}
.event-text{
    font-size: 2rem;
    margin-bottom: 3rem;
    color:  white;
}
h4 {
    display: inline;
    padding: 0 .3rem;
    font-size: .8rem;
    color: white ;
}

.error{
    color: white;
}