/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
html, body { height: 100%; }
body {
margin: 0;
font-family: "Helvetica Neue", sans-serif; 
}

.image{
height:100vh;
background-image: 
linear-gradient( to bottom,#eb01a5ad, #d13631d7),
url(./assets/clock.jpeg);
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

mat-label,
input,
mat-datepicker {
font-size: 1rem;
color: gray;
}


// mat-input carent color
.mat-input-element {
  caret-color: #1f4068!important;
  color: white !important;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #e43f5a!important;
}

.title{
  font-size: 2rem !important;
  letter-spacing: .3rem;
  color: white;
  opacity: 0.3;
}

.container{
text-align: center;
position: fixed;
width: 70%;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background-color: #1b1b2f;
border-radius: 5px;
padding: 5rem 3rem;
box-shadow: 10px 9px 21px -2px rgba(0,0,0,0.75);
}

.inner-box{
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.date ,
.event{
  line-height: 2.125;
  padding: .5rem 3rem;
}

.event{
  width: 50%;
}

.mat-form-field-appearance-legacy
.mat-form-field-suffix 
.mat-datepicker-toggle-default-icon{
  width: 2rem !important;
  color: #e43f5a !important;
}


@media only screen and (max-width:610px) {
  .title{
    font-size: 1rem !important;
    letter-spacing: .3rem;
  }
  .container{
    width: 90%;
    padding: 2rem 1rem;
  }
  .event{
    width: 80%;
  }
  .inner-box{ 
  margin: 2rem 0;
  }
}